:root {
    --font-family-sans-serif: "Montserrat", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-sans-serif);
}

.hero {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Dana/hero.png");
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    opacity: 0.9;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #333;
}

.content h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Great Vibes', cursive;
}

#countdown {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* ... (El resto del código CSS es igual al proporcionado anteriormente) ... */

.section {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    position: relative;
    /* margin-top: 50px; */
}

.background-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Dana/fondoseccion.png");
    /* Cambiar a la imagen de fondo deseada */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

/* ... (El resto del código CSS es igual al proporcionado anteriormente) ... */

/* ... (El resto del código CSS es igual al proporcionado anteriormente) ... */

.background-section2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Dana/fondoseccion.png");
    /* Cambiar a la imagen de fondo deseada */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin-top: 20px;
}

.cell {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    color: #333;
}

/* ... (El resto del código CSS es igual al proporcionado anteriormente) ... */